/* set.module.css */
.wrapper {
  display: flex;
  height: 100vh;
}

.left {
  width: 55%;
  background: #7294b6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

.logo {
  width: 300px;
}

.formContainer {
  width: 60%;
}

.formContainer h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #0a1c3a;
}

.formContainer p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #0a1c3a;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  color: #000000;
}

.passwordWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.toggle {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

.btn {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: #0a1c3a;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background: #09203f;
}

.errorText {
  background: #ffcece;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  color: #a10000;
}

.link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.footerText {
  margin-top: 20px;
  text-align: center; /* rata tengah */
  color: #0a1c3a;
  font-size: 14px;
}
